<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Solana API Demo</title>
  </head>
  <body>
    <h2>Solana API Demo</h2>
    <label for="address"></label><input type="text" id="address" name="address" placeholder="address">
    <label for="network"></label><select id="network" name="network" aria-placeholder="network">
      <option value="mainnet">Mainnet</option>
      <option value="devnet">Devnet</option>
    </select>
    <button id="getInfo">Get Info</button>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>