<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel ="stylesheet" href = "../static/css/index.css" />
      <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
      <script src="https://unpkg.com/moralis-v1/dist/moralis.js"></script>
    <title>Solana API Demo</title>
  </head>
  <body>
    <h2>Solana API Demo</h2>
    <label for="address"></label><input type="text" id="address" name="address" placeholder="address">
    <label for="network"></label><select id="network" name="network" aria-placeholder="network">
      <option value="mainnet">Mainnet</option>
      <option value="devnet">Devnet</option>
    </select>
    <button id="getInfo">Get Info</button>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <h1>Moralis API Response:</h1>
    <div id="result"></div>
    <script src="../static/js/test.js"></script>
  </body>
</html>